:root {
    --primary-color: #055a05;
    --secondary-color: #ffda9e;
    --heading-font: "Times New Roman", "Georgia";
    --body-font: Arial, serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 1rem;
}

nav a {
    color: var(--primary-color);
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
}

header {
    background-color: var(--secondary-color);
    align-content: center;
    padding: 0.5rem;
    color: var(--primary-color);
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-items: center;
    align-items: center;
}

header img {
    width: 120px;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.hero {
    position: absolute;
    margin-top: 1rem;
}

.hero img {
    width: 100%;
    height: auto;
}

h1 {
    position: relative;
    width: 100%;
    text-align: center;
    color: var(--primary-color);
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--secondary-color);
}

.hero article {
    position: absolute;
    align-content: center;
    bottom: 20px;
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.hero article img {
    float: right;
    width: 125px;
    border: 1rem;
    margin: 1rem;
}

.history {
    position: relative;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    padding: 16px;
    right: 1rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.history img {
    width: 250px;
    height: auto;
}

.history h2 {
    grid-column: 1/4;
    text-align: center;
    padding: 8px;
}

.adventure {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
    width: 100%;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem 0;
}

.adventure h2 {
    flex-basis: 100%;
}

.adventure img {
    width: 150px;
    height: 150px;
}

.adventure figure {
    flex: 1 1 150px;
    margin: 0;
}

.adventure figcaption {
    color: var(--primary-color);
    margin-top: 0.5rem;
}

.socialmedia a {
    text-decoration: none;
    display: flex;
}

.socialmedia {
    display: flex;
    gap: 0.5rem;
}

.socialmedia img {
    width: 40px;
    height: auto;
}

footer {
    margin-top: 1em;
    border-top: 1px solid black;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin: 2rem 0;
}

.contact-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.contact-info p {
    margin: .5rem;
}

.map iframe {
    width: 100%;
}

.contact-form {
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    color: black;
    border-radius: 0.5rem;
}

.contact-form div {
    margin-bottom: 1rem;
}

.contact-form label {
    display: block;
    margin-bottom: .5rem;
    align-items: flex-end;
}

button {
    background-color: var(--primary-color);
    width: 250px;
    padding: 0.7rem;
    color: white;
    margin: 1rem auto 0;
    display: block;
    border-radius: 0.4rem;
    border: none;
}